<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fab fa-dyalog"></i>ashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="size-icon"><i class="fas fa-bars"></i></span>
            </button>
          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a class="nav-link" href="http://localhost:3000/users"><i class="far fa-address-card"></i> Сотрудники</a></li>
              <li><a class="nav-link" href="http://localhost:3000/items"><i class="fas fa-boxes"></i> Товары</a></li>
              <li class="active"><a class="nav-link" href="#"><i class="fas fa-shopping-basket"></i> Корзины</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <div class="accordion" id="accordion">
        <div class="card">
          <div class="card-header" id="headingOne">
            <h5 class="mb-0">
              <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                 Корзина: #0000001
              </button>
            </h5>
          </div>

          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              <h2>Корзина: <b>#00001</b></h2>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row lineheight50">
                      <img src="img/sok-dobriy.jpg" class="rounded float-left" width="50px" height="50px">
                      <span class="col name">NameOfItem#1</span>
                      <span class="col-1 price">100 р.</span>
                      <span class="col-1 count">1000 шт.</span>
                      <button class="btn_del_prod btn_del btn btn-outline-danger" type="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row lineheight50">
                      <img src="img/sok-dobriy.jpg" class="rounded float-left" width="50px" height="50px">
                      <span class="col name">NameOfItem#2</span>
                      <span class="col-1 price">100 р.</span>
                      <span class="col-1 count">1000 шт.</span>
                      <button class="btn_del_prod btn_del btn btn-outline-danger" type="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </li>
                  <li class="list-group-item">
                    <div class="row lineheight50">
                      <img src="img/sok-dobriy.jpg" class="rounded float-left" width="50px" height="50px">
                      <span class="col name">NameOfItem#3</span>
                      <span class="col-1 price">100 р.</span>
                      <span class="col-1 count">1000 шт.</span>
                      <button class="btn_del_prod btn_del btn btn-outline-danger" type="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </li>
                  <li class="list-group-item">
                      <button type="button" class="add_product_btn btn btn-outline-success">
                        +
                      </button>
                  </li>
                </ul>
              </div>
              <div class="row result">
                <h4 class="col"> Общая стоимость: <b>200 </b>р.</h4>
                <form class="col-2">
                  <input class="add-btn btn btn-success" type="submit" value="Оплатить"/>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Корзина: #0000002
              </button>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
            <div class="card-body">
                <h2>Корзина: <b>#00002</b></h2>
                <h4>Корзина пуста</h4>
                <input class=" btn btn-success" type="submit" value="Добавить товар"/>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Корзина: #0000003
              </button>
            </h5>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
            <div class="card-body">
              <h2>Корзина: <b>#00003</b></h2>
              <h4>Корзина пуста</h4>
              <input class=" btn btn-success" type="submit" value="Добавить товар"/>            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header add_cart" id="headingThree">
            <h5 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                <span class="add_cart_name">Добавить корзину</span>
              </button>
            </h5>
          </div>
          <div id="collapse4" class="collapse" aria-labelledby="heading4" data-parent="#accordion">
            <div class="card-body">
              <form>
                <div class="ID_carts row">
                  <span class="">Корзина:</span>
                  <div class="input-group form_carts">
                    <div class="input-group-prepend">
                      <div class="input-group-text">#</div>
                    </div>
                    <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="ID корзины">
                  </div>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">
                    <div class="row lineheight50">
                      <img src="img/sok-dobriy.jpg" class="rounded float-left" width="50px" height="50px">
                      <span class="col name">NameOfItem#1</span>
                      <span class="col-1 price">100 р.</span>
                      <span class="col-1 count">1000 шт.</span>
                      <button class="btn_del_prod btn_del btn btn-outline-danger" type="remove"><i class="fas fa-times"></i></button>
                    </div>
                  </li>
                  <li class="list-group-item">
                      <button type="button" class="add_product_btn btn btn-outline-success">
                        +
                      </button>
                  </li>
                </ul>
              </div>
              <div class="row result">
                <h4 class="col"> Общая стоимость: <b>200 </b>р.</h4>
              <input class="col-2 add-btn btn btn-primary" type="submit" value="Добавить"/>
              </div>
              </form>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="js/main.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</html>
