<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <script   src="http://code.jquery.com/jquery-3.3.1.js"   integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="   crossorigin="anonymous"></script></head>
  </head>
  <body>
    <header>
        <h1>Dashboard</h1>
        <nav>
            <a href="#">Сотрудники</a>
            <a href="#">Товары</a>
            <a href="#">Корзины</a>
        </nav>
    </header>
    
    <main>
        <h2>Товары:</h2>
        <ul>
            <li>
                <span class="name">Название товара</span>
                <span class="price">100 р.</span>
                <span class="count">1000 шт.</span>
                <button type="remove">Удалить</button>
            </li>
            <li>
                <span class="name">Название товара 2</span>
                <span class="price">100 р.</span>
                <span class="count">1000 шт.</span>
                <button type="remove">Удалить</button>
            </li>
        </ul>

        <h2>Добавить товар:</h2>
        <form>
            <p>
                <legend>Штрих-код</legend>
                <input name="barcode" placeholder="4690363040513"></input>
                <span class="item-name"></span>
            </p>
            <p>
                <legend>Цена за ед.</legend>
                <input type="number" name="price" placeholder="100"></input>
            </p>
            <p>
                <legend>Количество</legend>
                <input type="number" name="count" placeholder="1000"></input>
            </p>

            <input class="add-btn" type="submit" value="Добавить"/>
        </form>

    </main>
  </body>
  <script src="js/main.js"></script>
</html>
