<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-sm fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#"><i class="fab fa-dyalog"></i>ashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="size-icon"><i class="fas fa-bars"></i></span>
            </button>

          <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a class="nav-link" href="http://localhost:3000/users"><i class="far fa-address-card"></i> Сотрудники</a></li>
              <li class="active"><a class="nav-link" href="#"><i class="fas fa-boxes"></i> Товары</a></li>
              <li><a class="nav-link" href="http://localhost:3000/carts"><i class="fas fa-shopping-basket"></i> Корзины</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="container">
      <div class="row">
        <div class="col-12 col-lg-7 product">
          <h2>Товары:</h2>
          <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="row lineheight32">
                  <span class="col name">Название товара</span>
                  <span class="col-1 price">100 р.</span>
                  <span class="col-1 count">1000 шт.</span>
                  <button class="btn_del btn btn-outline-danger" type="remove"><i class="fas fa-times"></i></button>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row lineheight32">
                  <span class="col name">Название товара 22</span>
                  <span class="col-1 price">10 р.</span>
                  <span class="col-1 count">100 шт.</span>
                  <button class="btn_del btn btn-outline-danger" type="remove"><i class="fas fa-times"></i></button>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row lineheight32">
                  <span class="col name">Очень большое название товара</span>
                  <span class="col-1 price">10 р.</span>
                  <span class="col-1 count">100 шт.</span>
                  <button class="btn_del btn btn-outline-danger" type="remove"><i class="fas fa-times"></i></button>
                </div>
              </li>
              <li class="list-group-item">
                <div class="row lineheight32">
                  <span class="col name">Очень большое название товара Очень большое название товара</span>
                  <span class="col-1 price">10 р.</span>
                  <span class="col-1 count">100 шт.</span>
                  <button class="btn_del btn btn-outline-danger" type="remove"><i class="fas fa-times"></i></button>
                </div>
              </li>
          </ul>
        </div>
        <div class="col-12 col-lg-5 add_product">
          <h2>Добавить товар:</h2>
          <form class="form-add">
                <div class="row">
                  <legend class="col">Штрих-код</legend>
                  <input class="col form-control form-control-sm" name="barcode" placeholder="4690363040513"></input>
                  <span class="item-name"></span>
                </div>
                <div class="row">
                  <legend class="col">Цена за ед.</legend>
                  <input class="col form-control form-control-sm" type="number" name="price" placeholder="100"></input>
                </div>
                <div class="row">
                  <legend class="col">Количество</legend>
                  <input class="col form-control form-control-sm" type="number" name="count" placeholder="1000"></input>
                </div>
              <input class="add-btn btn btn-primary" type="submit" value="Добавить"/>
          </form>
        </div>
      </div>
    </main>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</html>
