body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #f8f9fa;
  font-size: 16px;
  color: #111;
  padding-top: 80px;
  min-width: 400px;
}

h1, h2, h3, h4, h5, h6 {
  color: #252525;
}

a {
  color: #b9b9b9
}

a:hover {
  color: #fff;
  text-decoration: none;
}

.container {
  min-width: 400px;
}

.lineheight32 {
  line-height: 32px;
}

.lineheight50 {
  line-height: 50px;
}

.navbar {
  padding: 15px;
  background: #484848;
  color: #fff;
  min-width: 250px;
}

.navbar-brand {
  color: #fff;
}

.size-icon {
  font-size: 20px;
  color: #fff;
}

.list-group-item:first-child {
  border-top: none;
}
.list-group-item:last-child {
  border-bottom: none;
}

.list-group-item{
  background: none;
  vertical-align: 38px;
}

.btn_del {
  padding: 3px 6px;
  height: 32px;
}

.btn_del_prod {
  margin-top: 9px;
}

.add-btn {
  float: right;
}

.price {
  min-width: 80px;
}

.count {
  min-width: 100px;
}

.form-add div {
  margin: 10px 0px;
}

.form-add div legend{
  font-size: 20px;
}

.add_product h2 {
  margin-bottom: 20px;
}

.add_product_btn {
  width: 50px;
  font-size: 32px;
  padding: 0px 0px;
  border-radius: 25px;
}

.add_product_btn i {
}

.result {
  padding: 0px 25px;
  margin-bottom: 20px;
}

.result h4 {
  margin-bottom: none;
  line-height: 38px;
}

.ID_carts {
  padding: 0px 20px;
  font-size: 30px;
}

.form_carts {
  margin-left: 10px;
  width: 200px;
}

.add_cart {
  background: #5aaaff;
}

.add_cart_name{
  color: #fff;
  text-decoration: none;
}
